body {
    background-color: lightgray;
}

#topbar a{
    text-decoration: none;
}

#links {
    font-family: Helvetica;
    font-size: 20px;
    margin-left: 25px;
}

#name {
    background: darkgreen;
    padding: 15px;
    color: lightgray;
}

#links a:link {
    text-decoration: none;
}

#links a:hover {
    text-decoration: underline;
}

#links a:visited {
    text-decoration: none;
    color: blue;
}

#image {
    border: ridge;
    height: 250px;
    width: auto;
    margin: 15px;
}

#sidebar {
    text-align: center;
    padding: 10px;
    float: right;
    border: solid;
    border-color: darkgreen;
}

.emph {
    font-style: italic;
}

#bio {
    width: 40%
}
