body {
    background-color: lightgray;
    text-align: center;
}

#topbar a{
    text-decoration: none;
}

#links {
    font-family: Helvetica;
    font-size: 20px;
    
}

#name {
    background: darkgreen;
    padding: 15px;
    color: lightgray;
}

#links a:link {
    text-decoration: none;
}

#links a:hover {
    text-decoration: underline;
}

#links a:visited {
    text-decoration: none;
    color: blue;
}

#image {
        float: left;
        height: 500px;
        width: auto;
        margin-left: 20px;
        margin-right: 20px
}
